/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
/* Ionic theme - force dark mode */

:root {
  color-scheme: dark;
}

body {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  color: #ffffff;
}

.toastify-toast {
  --background: #323232;
  --color: #fff;

  --border-radius: 10px;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  font-size: 14px;
  font-weight: 500;

  margin-top: 16px;

  /* posisi kanan atas */
  /* align-self: flex-end; */
  max-width: 320px;
  position: fixed;
  left: 1100px;
  /* right: 16px; */
}

@media (max-width: 1200px) {
  .toastify-toast {
    left: auto;
    right: 16px;
    max-width: 200px;
  }
}

/* tombol close */
.toastify-toast .toast-button {
  color: #fff;
  opacity: 0.8;
}

.toastify-toast .toast-button:hover {
  opacity: 1;
}

/* progress bar */
.toastify-toast .toast-progress {
  background: #ff9800;
}
.toastify-toast--success {
  --background: #2e7d32;
}
.toastify-toast--error {
  --background: #d32f2f;
}
.toastify-toast--info {
  --background: #1976d2;
}
.toastify-toast--warning {
  --background: #f9a825;
}
.toastify-toast--default {
  --background: #323232;
}
